.downloadResume {
  display: inline-block;
  width: 216px;
  height: 46px;
  filter: url(#round);
}

.downloadResume::before {
  content: '';
  display: block;
  position: relative;
  height: 46px;
  background: currentColor;
  clip-path: polygon(3% 3%, 97% 4%, 94% 95%, 5% 94%);
}
