@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-navy-blue: #032042;
  --color-ocean-blue: #6dcff6;
  --color-olive-green: #9fa82f;
  --color-soft-gray: #f8f8f9;
}

:root {
  --color-navy-blue: #032042;
  --color-ocean-blue: #6dcff6;
  --color-olive-green: #9fa82f;
  --color-soft-gray: #f8f8f9;
}
